# 注意!!!!打包上線流程用，不要修改/刪除這個文件!!!!!

trigger:
  branches:
    include:
    - master
    - instance-01
    - instance-02
    - instance-03
  paths:
    exclude:
    - azure-pipelines.yml

resources:
  repositories:
  - repository: nginxsrc
    type: github
    endpoint: F1P5FEDevGitHub
    name: cjh829/aks-nginx-test
    ref: master

variables:
  branch: '$(Build.SourceBranchName)'
  buildNumber: '$(Build.BuildNumber)'

stages:
- stage: PackAndPush
  displayName: Pack website to docker image and push to ACR
  jobs:
  - job: PackAndPush
    displayName: Pack website to docker image and push to ACR
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    - checkout: self
    - checkout: nginxsrc
    - task: CopyFiles@2
      inputs:
        SourceFolder: 'aks-html-test'
        Contents: |
          **/*
          !.git/**/*
          !azure-pipelines.yml
        TargetFolder: 'aks-nginx-test/nginx/html'
        CleanTargetFolder: true

    - script: |
        echo $sourceVersion
        commitHash=${sourceVersion:0:8}
        echo $commitHash
        echo "##vso[task.setvariable variable=commitHash]$commitHash" ## Set variable for using in other tasks.
      env: { sourceVersion: $(Build.SourceVersion) }
      displayName: Git Hash 8-digit
      workingDirectory: $(Build.SourcesDirectory)
    - task: Bash@3
      displayName: 'Generate version-info file'
      inputs:
        targetType: 'inline'
        script: |
          echo "*** Tag: $(branch).$(commitHash).$(buildNumber) ***" >> aks-nginx-test/nginx/html/version.txt
          echo "*** Time: $(date -u) ***" >> aks-nginx-test/nginx/html/version.txt
        workingDirectory: '$(Build.SourcesDirectory)'
    - task: Docker@2
      displayName: Build and push an image to container registry
      inputs:
        command: buildAndPush
        containerRegistry: 'F1P5FEDevACR'
        repository: 'aks-nginx-test'
        dockerfile: 'aks-nginx-test/Dockerfile'
        tags: |
          $(branch).$(commitHash).$(buildNumber)