# 注意!!!!打包上線流程用，不要刪除/修改這個文件!!!!!

trigger:
- master
- instance-01
- instance-02
- instance-03

resources:
  repositories:
  - repository: nginxsrc
    type: github
    endpoint: cjh829
    name: cjh829/aks-nginx-test
    ref: master

variables:
  branch: '$(Build.SourceBranchName)'
  commit: '$(Build.SourceVersion)'

pool:
  vmImage: 'ubuntu-latest'
steps:
- checkout: self
- checkout: nginxsrc
- task: CopyFiles@2
  inputs:
    SourceFolder: 'aks-html-test'
    Contents: |
      **/*
      !.git/**/*
      !azure-pipelines.yml
    TargetFolder: 'aks-nginx-test/nginx/html'
    CleanTargetFolder: true

- task: Docker@2
  displayName: Build and push an image to container registry
  inputs:
    command: buildAndPush
    containerRegistry: 'myacr'
    repository: 'aks-nginx-test'
    dockerfile: 'aks-nginx-test/Dockerfile'
    tags: |
      '$(branch).$(commit)'
- task: PublishPipelineArtifact@1
  inputs:
    targetPath: 'aks-nginx-test/k8s.yaml'
    artifact: 'manifests.$(branch).$(commit)'
    publishLocation: 'pipeline'